@model IEnumerable<WebDjProject.Models.Playlist>

@{
    ViewBag.Title = "Playlists";
}

<h2>Playlists</h2>


<p>
    @Html.ActionLink("Create New Playlist", "Create")
</p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.playlistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.songCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spotifyPlaylistID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.playlistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.songCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spotifyPlaylistID)
            </td>
            <td>
                @Html.ActionLink("Edit name", "Edit", new { id = item.playlistId }) |
                @Html.ActionLink("Listen", "Details", new { id = item.playlistId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.playlistId }) |
                @Html.ActionLink("Remove songs", "Remove")
            </td>
        </tr>
    }


</table>






<!--<input id="sync" type="button" value="DEBUG: Sync db with spotify" /><br />-->

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">

    // Get the hash of the url
    var hash = window.location.hash
        .substring(1)
        .split('&')
        .reduce(function (initial, item) {
            if (item) {
                var parts = item.split('=');
                initial[parts[0]] = decodeURIComponent(parts[1]);
            }
            return initial;
        }, {});
    window.location.hash = '';

    // Set token
    let _token = hash.access_token;

    const authEndpoint = 'https://accounts.spotify.com/authorize';
    const refreshEndpoint = 'https://accounts.spotify.com/api/token'

    // Replace with your app's client ID, redirect URI and desired scopes
    const clientId = 'ddb6bd84d33c42aba1450a177ca0f23e';
    const redirectUri = 'http://localhost:53881/Playlists/';
    const clientSecret = 'd2e2b989c762414c88b6c3121dd44a65';

    const scopes = [
        'playlist-read-private',
        'user-modify-playback-state',
        'user-read-recently-played',
        'user-read-currently-playing',
        'playlist-modify-private',
        'app-remote-control',
        'playlist-modify-public',
        'user-read-birthdate',
        'user-read-playback-state',
        'user-read-email',
        'streaming',
        'user-read-private',
        'user-top-read',
        'app-remote-control'
    ];

    // If there is no token, redirect to Spotify authorization
    if (!_token) {
        window.location = `${authEndpoint}?client_id=${clientId}&redirect_uri=${redirectUri}&scope=${scopes.join('%20')}&response_type=token&show_dialog=false`
    }

    //gets called twice??
    //console.log('creation');

    //button assignment for debugging purposes

    //var syncBtn = document.getElementById("sync");
    //if (syncBtn.addEventListener)
    //    syncBtn.addEventListener("click", spotifySync, false);
    //else if (syncBtn.attachEvent)
    //    syncBtn.attachEvent('onclick', spotifySync);

    function spotifySync() {
        @foreach (var item in Model)
        {
        <text>

        var inputedName = '@item.playlistName';
        var inputedId = '@item.spotifyPlaylistID';
        var token = _token
        //console.log(token);
        spotifyNameSync(inputedName, inputedId, token);
        spotifySongCountSync(inputedId, token);
        var newCount = spotifySongCountSync(inputedId, token);

        //I'm not entirely sure why this is needed here but...
        //It's the only thing keeping the ajax request functioning.
        console.log(newCount);
        
        var objAjax = new Object();
        objAjax.songCount = newCount; // Model prop is int type so this value must be int.
        objAjax.playlistId = '@item.playlistId';

        $.ajax('@Url.Action("UpdateSongCount", "Playlists")', {
        type: 'POST',
        data: JSON.stringify(objAjax),
        contentType: "application/json",
        async: false,
        dataType: "json",
        traditional: true,
        success: function (returnData) {
            //console.log(returnData);
        },
        error: function () {
            //console.log("Error!");
        }
        });

        </text>
        }

    }


    function spotifyNameSync(playlistName,playlistId,authToken) {
        var myData = JSON.stringify({ name: playlistName, public: true });

        var id = playlistId
        $.ajax({
            url: 'https://api.spotify.com/v1/playlists/' + id,
            method: "PUT",
            async: false,
            headers: {
                'Authorization': 'Bearer ' + authToken,
                'Content-Type': 'application/json'
            },
            //beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', 'Bearer ' + authToken); xhr.setRequestHeader('Content-Type', 'application/json') },
            data: myData,
            success: function () {
                //console.log("Playlist changed");
            },
            error: function () {
                //console.log("ERROR");
            }
        });
    }



    function spotifySongCountSync(playlistId, authToken) {
        var id = playlistId
        var playlistSongCount = 0;
        $.ajax({
            url: 'https://api.spotify.com/v1/playlists/' + id + '/tracks',
            method: "GET",
            async: false,
            headers: {
                'Authorization': 'Bearer ' + authToken,
                'Content-Type': 'application/json'
            },
            success: function (response) {

                playlistSongCount = response.items.length;
                //console.log(playlistSongCount);
                return playlistSongCount;
                //console.log('PlistID_' + id);
                //document.getElementById('PlistID_' + id).value = 7;
                //console.log(document.getElementById('PlistID_' + id));

            },
            error: function (response) {
                //console.log(response);
            }
        });
        return playlistSongCount;
    }

    spotifySync();

</script>

